<ActionBar title="Testing sentry" class="action-bar">
</ActionBar>
<StackLayout >
    <Button (tap)="onTapNative()" text="Main thread exeption test(native)" ></Button>
    <Button (tap)="onTapTryError()" text="Try trow with Error test" ></Button>
    <Button (tap)="onTapTry()" text="Try trow without Error test"></Button>
    <Button (tap)="onTapMessage()" text="Capture Message"></Button>
    <Button (tap)="onTapBreadcrumb()" text="Capture Breadcrumb"></Button>
    <Button (tap)="onTapCaptureWithExtras()" text="Capture Event with tags and extras"></Button>
</StackLayout>